@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background: #808080;
  color: white;
  font-family: 'Roboto', serif;
}

.image-inverted {
  filter: invert(100%);
}

.navlink {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 5px;
  margin-left: 5px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}
